html,body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.container{
    width: 900px;
    height: 250px;
    margin: 0 auto;
    border-radius: 65px;
    box-shadow: 1px 4px 8px black;
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: blue;
}

#inputField{
    width: 300px;
    height: 30px;
    border: 1px solid black;
    font-size: 17px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgb(137, 228, 240);
    padding-left:15px;
    border: hidden;
    outline: none;
    box-shadow: 2px 2px 7px black;
}

.flex{
    margin: 30px 300px;
    display: flex;
    width: 500px;
}

#addToDo{
    width: 80px;
    height: 32px;
    border-radius: 8px;
    border: hidden;
    cursor: pointer;
    background-color: rgb(13, 231, 67);
    box-shadow: 2px 2px 7px black;
    letter-spacing: 1px;
}

#addToDo:hover{
    background-color: rgb(13, 231, 67);
    color: white;
    box-shadow: 4px 4px 7px black;
}

.to-dos{
    margin-top: 25px;
}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    padding: 3px;
}

#toDoContainer{
    text-align: left;  
    font-size: 20px;
    width: 800px;
    height: 280px;
    box-shadow: 0px 2px 4px black;
    border-radius: 10px;
    margin: 30px auto;
    background-color: rgb(233, 243, 243);
}
